<%= provide :title, "All users" %>
<h1>All users</h1>

<!-- will_paginate looks for an instance variable with
     the same name as the controller -->

<%= will_paginate %>

<!-- Rails renders the corresponding partial _user.html.erb -->

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>